#root,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2c14e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delius Unicase";
}

h1 {
  font-size: 2em;
}

.navbar-container {
  display: flex;
}

.navbar {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  box-shadow: 0em 1em 0em 0em white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px 0px 0px 0px;
  width: fit-content;
}

.navtab {
  color: white;
  background-color: #2e2e2e;
}

.main-tabs {
  justify-content: space-around;
  background-color: #ff76a8;
  margin-right: 5px;
  width: 600px;
}

.form-tabs {
  justify-content: space-around;
  background-color: #c1e093;
  width: 500px;
  margin-left: 5px;
}

.form-tab {
  width: 48%;
}

.selected-tab,
.selected-tab:hover {
  color: #2e2e2e;
  background: white;
  box-shadow: 0em 1em 0em 1em white;
}

.folder-corner {
  background: transparent;
  height: 4em;
  width: 1em;
  display: flex;
  align-self: flex-end;
  margin-left: 0;
  border: 1px solid transparent;
  box-shadow: -0.5em 1em 0em 0em white;
  border-bottom-left-radius: 10px;
  position: relative;
}

.right-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 60px 60px 0;
  border-style: solid;
  border-color: gray #fff;
  border-radius: 5px;
  box-shadow:
    2px 2px 0px rgba(0, 0, 0, 0.3),
    -2px 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0;
}

.right-corner {
  position: relative;
  margin: 2em auto;
  border-radius: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: black;
  min-width: fit-content;
  height: 80%;
  text-align: center;
}

.homepage {
  background-color: white;
  height: 100%;
  width: 100%;
  min-width: 1070px;
  margin: 0px 10px 10px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pet-profile-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.pet-profile-header-item {
  margin: 5px;
}

.pet-profile-body {
  display: flex;
  margin: 0 10px 0 10px;
}

.pet-stats,
.pet-tabs {
  margin: 0 15px 0 15px;
}

.pet-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.pet-profile-image {
  border: 10px solid white;
  border-bottom: 50px solid white;
  margin-bottom: 15px;
}

.pet-profile-footer {
  display: flex;
  flex-direction: row-reverse;
}
