#root {
  width: 100vw;
  height: 100vh;
  background-color: #f2c14e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Delius Unicase";
}

h1 {
  font-size: 2em;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 1000px;
  margin: 10px 0px 0px 10px;
}

.navtab {
  color: white;
  background-color: #2e2e2e;
}

.main-tabs {
  justify-content: space-around;
  background-color: #ff76a8;
  margin-right: 5px;
  width: 600px;
}

.form-tabs {
  justify-content: space-around;
  background-color: #c1e093;
  width: 500px;
  margin-left: 5px;
}

.form-tab {
  width: 48%;
}

.selected-tab {
  color: #2e2e2e;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage {
  margin: 0px 10px 10px 10px;
  padding-top: 50px;
  background-color: white;
  min-width: 1050px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  text-align: center;
}

.pet-profile-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.pet-profile-header-item {
  margin: 5px;
}

.pet-profile-body {
  display: flex;
  margin: 0 10px 0 10px;
}

.pet-stats,
.pet-tabs {
  margin: 0 15px 0 15px;
}

.pet-tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.pet-profile-image {
  border: 10px solid white;
  border-bottom: 50px solid white;
  margin-bottom: 15px;
}

.pet-profile-footer {
  display: flex;
  flex-direction: row-reverse;
}
